<div class="pokedex-wrapper">
  <section class="intro-container">
    <h1>Pokédex</h1>
    <div class="intro-box">
      <p>
        This is a full list of every Pokémon returned by the PokéApi, along with their main stats.
      </p>
      <p>
        To search for a Pokémon, you can use the search bar below. You can also load more Pokémon by clicking the "Load more" button at the end of the page.
      </p>
      <p>
        Click on a Pokémon to see more details about it.
      </p>
    </div>
  </section>

  <div class="search-bar">
    <mat-form-field appearance="outline">
      <input type="text" matInput [formControl]="searchControl" [matAutocomplete]="auto" placeholder="e.g. Pikachu" />

      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="searchPokemon($event.option.value)">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div class="pokemon-container">
    <pokemon-table [pokemons]="filteredPokemons">
    </pokemon-table>
  </div>
  <div class="load-more-container">
    <button mat-raised-button color="primary" (click)="loadPokemons()">
      <mat-icon>add</mat-icon>
      Load more
    </button>
  </div>
</div>