/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-image: url('./assets/png/pokeball.png'); /* ou base64 inline */
    background-size: 800px 800px;
    background-repeat: repeat;
    background-position: center;

}

.mat-header-row {
  background-color: #f3f3f3;
  font-weight: bold;
  color: #333;
}

.mat-header-cell {
  border-right: 1px solid #ddd;
  text-align: center;
  padding: 12px 8px;
  font-size: 14px;
}

.mat-header-cell:last-child {
  border-right: none;
}

.mat-sort-header-container {
  justify-content: center;
}

.mat-row,
.mat-cell {
  padding: 12px 8px;
  text-align: center;
}